<div class="col-xs-12" style="border-bottom: 1px solid grey; padding: 5px;">
  <div class="col-sm-4">
    <%= link_to( image_tag(order.picture, class: "responsive-image"),
                 order.picture.url,
                  target: "_blank" ) %>
  </div>
  <div class="col-xs-12" > <strong> <%= order.name %> </strong> </div>
  <div class="col-xs-12">
    <%= link_to order.link, order.link, target: "_blank"  %>
  </div>
  <% if order.price && order.price > 0 %>
    <div> price: <%= order.price %> </div>
  <% end %>
  <% if order.customer_name && order.customer_name.length > 0 %>
    <div> customer name: <%= order.customer_name %> </div>
  <% end %>
  <br>
  <%= link_to "Edit", edit_order_path(order), class: "btn btn-primary" %>
  <%= link_to "Delete", order_path(order), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
</div>
