<%= form_for @product,  html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :sell_price %>
    <%= f.text_field :sell_price, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :condition %>
    <%= f.text_field :condition, class: "form-control", required: true %>
  </div>

  <div class="form-group">
  </div>

  <div class="form-group">
    <%= f.label :picture %>
    <%=  f.file_field :picture,
                      accept: 'image/jpeg,image/gif,image/png',
                      required: true,
                      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create", type: "submit", class: "btn btn-primary" %>
  </div>

<% end %>
