<div class="col-xs-12" style="border-bottom: 1px solid grey; padding: 5px;">
  <div class="col-sm-4">
    <%= link_to( image_tag(receipt.picture, class: "responsive-image"), receipt.picture.url ) %>
  </div>
  <div> Name: <%= receipt.name %> </div>
  <div> Date: <%= receipt.date %> </div>
  <div> total: <%= receipt.total %> </div>
  <%= link_to "Edit", edit_receipt_path(receipt), class: "btn btn-primary" %>
</div>
