<!DOCTYPE html>
<html>

  <head>
    <title> USVietShop </title>
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/koneapp/pics/screen_shot_2017_10_04_at_2_24_43_pm_S41_icon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/navbar' %>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
